<div class="container-fluid fuente" style="background-color:rgb(243,243,243)">

    <h1 class="tituloSeccion" >Consultorio</h1>
  
    <div class="parrafo1">
  
      <p>
  
        <b><h4 class="azul1">¿Cómo trabajamos en el consultorio?</h4></b>
        Trabajamos desde la individualización de cada caso, reconociendo las necesidades del
        consultante, brindándole herramientas y conocimientos para el logro de sus objetivos.
  
      </p>
  
      <br/>
      <h3><u class="azul1">Atención Online</u></h3>
      <a href="">Link a Instagram/Whatsapp</a>
      <br/><br/><br/>
      <h3><u class="azul1">Presencial</u></h3>
      <p class="p1txt"> 
        - Consultorio Privado de Nutrición (Ciudad, Mendoza)<br/>
        - Centro de Nutricion: Luis N Palma 327, Gualeguaychú E,R,
        Particular.
      </p>
      <br/><br/>
      
      <p class="p1txt">
      Prestadoras de OSDE.<br/>
      Factura de reintegro para otras obras sociales.<br/>
      Nuestras áreas de acompañamiento en consultorio:<br/>
      <br/><br/>
      </p>
      <h4><u class="azul1">Nutrición Infantil</u></h4>
      <p class="p1txt">
      - Acompañamiento a embarazadas durante la gestación y lactancia.<br/>
      - Guías para la alimentación complementaria desde los 6 meses hasta el año.<br/>
      - Alimentación del escolar y preescolar.<br/>
      </p>
      <h4><u class="azul1">Nutrición Vegana, vegetariana y Plant Based</u></h4>
      <p>
        - Consultantes en transición que requieran del acompañamiento profesional para
        establecer la alimentación vegetariana/vegana.<br/>
        - Acompañamiento en todas las etapas de la vida: embarazos, lactancia,
        alimentación complementaria, niños, adolescentes, adultos y deportistas.<br/>
        - Personas con alimentación vegetariana/vegana que quieran mejorar su estado
        nutricional.
      </p>
      <br/><br/>
      <h4><u class="azul1">Nutrición Deportiva</u></h4>
    <p class="p1txt">
      - Realización de estudio antropométrico completo (método ISAK)<br/>
      - Asesoramiento sobre hábitos alimentarios específicos para cada tipo de deporte o
      situación particular.<br/>
      - Asesoramiento y planificación en eventos deportivos: carreras de ultra-trail,
      maratones, etc.<br/>
      - Pautas nutricionales personalizadas.
      <br/><br/>
    </p>
      <h4><u class="azul1">Nutrición Clínica</u></h4>
    <p class="p1txt">
      - Acompañamiento a personas sanas que buscan mejorar su alimentación.<br/>
    </p>
  
    <br/><br/>
  
    
  
    <br/><br/>
  
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Consulta nutricional personalizada - Online/presencial <span style="margin-left:160px;"><strong>$2500</strong></span>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            - Formulario online pre-consulta<br/>
            - 1° Entrevista. Evaluación inicial.<br/>
            - Propuestas de objetivos de trabajo.<br/>
            - Elaboración de guía de Nutrición con: cálculo de
            requerimientos -Planificación nutricional- Mosaico de
            menú -Info complementaria- Intercambios -Recetas<br/>
            - Tiempo aprox: 40 min
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Seguimiento personalizado quincenal o mensual Online <span style="margin-left:150px;"><strong>$1500</strong></span>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            - Consulta de seguimiento - Feedback - inquietudes/dudas,
            progresos.<br/>
            - Tiempo aprox: 30 min<br/>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Evaluación Antropométrica Presencial <span style="margin-left:273px;"><strong>$2500</strong></span>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            - Método ISAK 2<br/>
            - Entrega de informe dentro de las 48-72 hs posteriores<br/>
            - Tiempo aprox:40 min<br/>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Talleres grupales <span style="margin-left:425px;"><strong>$1500/hora</strong></span>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            - Encuentros virtuales con pacientes, deportistas, padres.<br/>
          </div>
        </div>
      </div>
    </div>
  </div>