<div class="d-flex flex-row bd-highlight mb-3 align-items-center justify-content-evenly footer fuente">
    <div class="p-2 bd-highlight"><h3 style="color:rgb(243,243,243);">Contáctanos</h3></div>
    <div class="p-2 bd-highlight">
  
      <div class="d-flex justify-content-center">
        <i class="bi bi-whatsapp icon-footer" style="color:rgb(243,243,243); margin-right:10px; margin-left:15px;"></i>
        <p style="color:rgb(243,243,243); font-size: 15px; padding-top:13px;">344 665 6328</p>
      </div>
  
    </div>
    <div class="p-2 bd-highlight">
  
      <div class="d-flex justify-content-center">
        <i class="bi bi-instagram icon-footer" style="margin-right: 10px;"></i>
        <p style="color:rgb(243,243,243); font-size:15px; padding-top:13px;">@anutricionistas</p>
      </div>
  
    </div>
</div>