@font-face {
    font-family: Monserrat;
    src: url(../../../assets/fonts/Montserrat-Regular.otf) format("opentype");
}

.fuente {
    font-family: Monserrat;
}

.logo-subtitulo {
    margin-left: 50px;
    color: rgb(243,243,243);
    font-size: 18px;
}

.logo-titulo {
    font-size: 40px;
    margin-bottom: 1px;
    margin-left: 20px !important;
    color: rgb(243,243,243);
}

.navPrincipal {
    background-color: #415364;
}

.seccionNav {
    color: rgb(243,243,243);
    font-size: 18px;
    margin-right: 10px;
    padding-left: 20px !important;
}

.navbar-collapse{
    flex-grow: 0.5 !important;
}

.nav-item:hover{
    background-color:#2d3a45;
    border-radius:7px;
}