<nav class="navbar navbar-expand-lg navPrincipal sticky-top fuente">
    <div class="container-fluid" data-bs-target="#navbarNav">
      <a class="navbar-brand" href="#">
        <h2 class="logo-titulo">ALDEBARÁN</h2> <div class="logo-subtitulo">NUTRICIONISTAS</div>
      </a>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-5 d-sm-flex d-block flex-sm-nowrap">
          <li class="nav-item text-center" style="padding-top:10px; text-align:center;">
            <a class="nav-link seccionNav" aria-current="page" routerLink="/">Inicio</a>
          </li>
          <li class="nav-item text-center" style="padding-top:10px;">
            <a class="nav-link seccionNav" aria-current="page" routerLink="/quienes-somos">Conocenos</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link seccionNav" (click)="goTrabajo('eventos')" routerLink="/trabajo">Eventos <br/>Deportivos</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link seccionNav" (click)="goTrabajo('personalizada')" routerLink="/trabajo">Nutrición <br/>Personalizada</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link seccionNav" (click)="goTrabajo('educacion')" routerLink="/trabajo">Educación <br/>Nutricional</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link seccionNav" (click)="goTrabajo('institucional')" routerLink="/trabajo">Nutrición <br/>Institucional</a>
          </li>
          <!-- <li class="nav-item" style="margin-left:15px;">
            <a class="nav-link seccionNav" routerLink="/cursos">Cursos</a>
          </li> -->
          <li class="nav-item text-center" style="padding-top:10px; text-align:center;">
            <a class="nav-link seccionNav" routerLink="/contactanos">Contáctanos</a>
          </li>
          
        </ul>
        
      </div>
      <a routerLink="/">
        <img src="../../../assets/Aldebaran-16.png" height="80" alt="aldebaran-logo">
      </a>
      
    </div>
  </nav>