<div class="container-fluid fuente" style="background-color:rgb(243,243,243); padding-bottom:60px;">
  
    <h1 class="tituloSeccion">¿Quiénes somos?</h1>
  
    <div class="cont1">
  
      <img src="../assets/nutris.png" class="imgNutri">
  
    </div>
  
    <div>
      <div class="row">
  
        <b><h4 class="azul1 fuente" style="text-align:center; padding-bottom:20px;">Un poco sobre nosotras...</h4></b>


        <div class="col-6">

          <div id="carouselExampleCaptions" class="carousel slide w-100" data-bs-ride="carousel" style="border-radius:5px;">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner" style="border-radius:90px;">
              <div class="carousel-item active" style="height: 400px;">
                <img src="../../../assets/2-conocenos/img4.jpeg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" style="height: 400px;">
                <img src="../../../assets/2-conocenos/img2.jpeg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" style="height: 400px;">
                <img src="../../../assets/2-conocenos/img3.jpeg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" style="height: 400px;">
                <img src="../../../assets/2-conocenos/img1.jpeg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        </div>

        

        <div class="col-5 fuente-light" style="font-size:20px;">
          Somos <strong>Majo</strong> y <strong>Sole</strong>, Licenciadas en Nutrición especialistas en nutrición infantil, alimentación y nutrición vegetariana-vegana
          y nutrición deportiva.<br/><br/>
          Juntas formamos <strong>Aldebarán Nutricionistas</strong>, nombre que surge de nuestro signo del zodíaco, Tauro, y que representa a la 
          estrella más brillante de la constelación.<br/><br/>
          Queremos posicionar  el rol de la nutricionista en los diferentes campos de trabajo desde la formación y la experiencia-práctica profesional y dejar capacidad instalada en cada uno de los lugares donde formemos parte.

        </div>
  
      </div>
    </div>

  </div>