<div class="container-fluid fuente" style="background-color:#2d3a45; height: 600px; color:rgb(233, 233, 233);">
  <div class="row">

    <div class="col-6">
      <img src="../assets/img1.png" class="img-intro">
      <img src="../assets/img7.png" class="img-intro">
    </div>

    <div class="col-6" style="font-size: 25px; margin-top:8%; padding-right: 50px;">
      <p>Creemos en el impacto que generan los buenos hábitos alimentarios en la salud,
        en la calidad de vida y en el rendimiento deportivo.<br/>
        Por eso, abordamos la nutrición desde la individualización y la personalización
        para ayudar a cumplir objetivos y alcanzar metas.<br/><br/>
        Promovemos el cambio. Alimentarse distinto.<br/>
        <strong>Somos Aldebarán, la nutrición que persigue tu meta.</strong>
      </p>
    </div>

  </div>
</div>

<div class="d-flex flex-row bd-highlight mb-3 align-items-center justify-content-evenly footer fuente">
  <div class="p-2 bd-highlight"><h3 style="color:rgb(243,243,243);">Contáctanos</h3></div>
  <div class="p-2 bd-highlight">

    <div class="d-flex justify-content-center">
      <i class="bi bi-whatsapp icon-footer" style="color:rgb(243,243,243); margin-right:10px; margin-left:15px;"></i>
      <p style="color:rgb(243,243,243); font-size: 15px; padding-top:13px;">344 665 6328</p>
    </div>

  </div>
  <div class="p-2 bd-highlight">

    <div class="d-flex justify-content-center">
      <i class="bi bi-instagram icon-footer" style="margin-right: 10px;"></i>
      <p style="color:rgb(243,243,243); font-size:15px; padding-top:13px;">@anutricionistas</p>
    </div>

  </div>
</div>