@font-face {
    font-family: roboto;
    src: url(../../../assets/fonts/Roboto-Regular.ttf) format("opentype");
}

.fuente {
    font-family: roboto;
}

.blackish {
    color: rgb(43, 43, 43);
}

.cont1 {
    display: flex; 
    background-color:rgb(243,243,243); 
    height:500px;
    font-family: roboto;
}

/* .imgNutri {
    filter: grayscale(100%);
    border-radius: 50%;
} */

.imgNutri {
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.tituloSeccion {
    text-align: center;
    color: #415364;
    font-family: roboto;
}

.parrafo1 {
    font-family: roboto;
    text-align: center;
    margin-left: 25%; 
    margin-right: 25%; 
    background-color:rgb(243,243,243);
}

.p1txt {
    font-size: 18px;
}

.azul1{
    color: #415364;
}

.imgCurso {
    border-radius: 4px;
}

.imgCurso:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

.footer {
    height:100px;
    background-color: #415364;
}

.icon-footer {
    color: rgb(243,243,243);
    font-size: 2rem;
}

.img-intro{
    max-height: 400px;
    
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10px;
    border-radius: 10px;
}