<div class="container-fluid fuente" style="background-color:rgb(243,243,243); padding-bottom:60px;">
  
    <h1 class="tituloSeccion" style="padding-top:30px; padding-bottom:30px;">Ejes de Trabajo</h1>

    <div class="row">

        <div class="col-6">

            <div id="carouselNutriCustom" class="carousel slide w-100" data-bs-ride="carousel" style="border-radius:5px;">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselNutriCustom" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselNutriCustom" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselNutriCustom" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselNutriCustom" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner" style="border-radius:90px;">
                  <div class="carousel-item active" style="height: 540px;">
                    <img src="../../../assets/3-nutri-custom/img4.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" style="height: 540px;">
                    <img src="../../../assets/3-nutri-custom/img2.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" style="height: 540px;">
                    <img src="../../../assets/3-nutri-custom/img3.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" style="height: 540px;">
                    <img src="../../../assets/3-nutri-custom/img1.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselNutriCustom" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselNutriCustom" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

        </div>

        <div class="col-6" style="padding:20px;">
            <img src="../../../assets/simbolos/simb1.png" height="150" style="padding-left:280px;">
            <h3 class="bgDark text-center">Nutrición Personalizada</h3>
            <p class="text-center fuente-light">
                Trabajamos en consultorio individual y/o en <br/>
                equipo interdisciplinario de forma online y/o <br/>
                presencial para ayudar a cumplir objetivos<br/> y alcanzar metas.
            </p>    
            <br/>

            <div class="fuente-light" style="padding-left:40px;">
                Nuestros áreas de de acompañamiento son:<br/>
                ★	Nutrición materno-infantil y abordaje Familiar.<br/>
                ★	Nutrición vegetariana, vegana  y plant based en  todas las etapas de la vida.<br/>
                ★	Nutrición deportiva.<br/>
                ★	Nutrición clínica.
            </div>

            <br/>

            <button class="btn btn-primary" style="background-color:#415364; border-color:#415364; margin-left:310px;">MÁS INFO</button>
                  
        </div>

    </div>

    <!-- /////  SECCION NUTRICION INSTITUCIONAL  ///// -->

    <div style="height: 100px;" id="institucional"></div>

    <div class="row">

        <div class="col-6">

            <div id="carouselNutriInsti" class="carousel slide w-100" data-bs-ride="carousel" style="border-radius:5px;">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselNutriInsti" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselNutriInsti" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselNutriInsti" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselNutriInsti" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner" style="border-radius:90px;">
                  <div class="carousel-item active" style="height: 540px;">
                    <img src="../../../assets/4-nutri-insti/img1.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" style="height: 540px;">
                    <img src="../../../assets/4-nutri-insti/img2.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" style="height: 540px;">
                    <img src="../../../assets/4-nutri-insti/img3.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" style="height: 540px;">
                    <img src="../../../assets/4-nutri-insti/img4.jpeg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselNutriInsti" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselNutriInsti" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

        </div>

        <div class="col-6" style="padding:20px;">
            <img src="../../../assets/simbolos/simb2.png" height="150" style="padding-left:280px;">
            <h3 class="bgDark text-center">Nutrición Institucional</h3>
            <p class="text-center bgDark fuente-bold">
                Organizaciones Sociales  /Jardines-Colegios,<br/> 
                Instituciones educativas/Empresas/Comedores
            </p>    
            <p class="text-center fuente-light">
                Planificamos una propuesta para cada <br/>
                Institución, con diferentes etapas de trabajo a <br/>
                fin de conocer necesidades, intereses y brindar <br/>
                respuestas concretas a objetivos claros en <br/>
                plazos de tiempo determinados.
            </p>    

            <br/>

            <button class="btn btn-primary" style="background-color:#415364; border-color:#415364; margin-left:310px;">MÁS INFO</button>
                  
        </div>

    </div>

    <!-- /////  SECCION EDUCACION NUTRICIONAL  ///// -->

    <div style="height: 100px;" id="educacion"></div>

    <div class="row">

        <div class="col-6">

            <div id="carouselEducNutri" class="carousel slide w-100" data-bs-ride="carousel" style="border-radius:5px;">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselEducNutri" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselEducNutri" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselEducNutri" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselEducNutri" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner" style="border-radius:90px;">
                  <div class="carousel-item active" style="height: 540px;">
                    <img src="../../../assets/5-educ-nutri/img1.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" style="height: 540px;">
                    <img src="../../../assets/5-educ-nutri/img2.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" style="height: 540px;">
                    <img src="../../../assets/5-educ-nutri/img3.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" style="height: 540px;">
                    <img src="../../../assets/5-educ-nutri/img4.jpeg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselEducNutri" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselEducNutri" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

        </div>

        <div class="col-6" style="padding:20px;">
            <img src="../../../assets/simbolos/simb5.png" height="150" style="padding-left:280px;">
            <h3 class="bgDark text-center">Educación Nutricional</h3>
            <p class="text-center fuente-light">
                Realizamos talleres, cursos y actividades educativas <br/>
                para profesionales de la salud, docentes, alumnos, <br/>
                referentes comunitarios.
            </p>    
            <br/>

            <p class="text-center fuente-light">
                Actualización en curso:<br/><br/>

                Alimentación y nutrición vegetariana-vegana.<br/> 
                Abordaje integral de la consulta nutricional.
            </p>    

            <br/>

            <button class="btn btn-primary" style="background-color:#415364; border-color:#415364; margin-left:310px;" routerLink="/cursos">MÁS INFO</button>
                  
        </div>

    </div>


    <!-- /////  SECCION DEPORTIVOS  ///// -->

    <div style="height: 100px;" id="eventos"></div>

    <div class="row">

        <div class="col-6">

            <div id="carouselDeportivo" class="carousel slide w-100" data-bs-ride="carousel" style="border-radius:5px;">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselDeportivo" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselDeportivo" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselDeportivo" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselDeportivo" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner" style="border-radius:90px;">
                  <div class="carousel-item active" style="height: 540px;">
                    <img src="../../../assets/6-eventos-depor/img1.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" style="height: 540px;">
                    <img src="../../../assets/6-eventos-depor/img2.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" style="height: 540px;">
                    <img src="../../../assets/6-eventos-depor/img3.jpeg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" style="height: 540px;">
                    <img src="../../../assets/6-eventos-depor/img4.jpeg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselDeportivo" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselDeportivo" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

        </div>

        <div class="col-6" style="padding:20px;">
            <img src="../../../assets/simbolos/simb4.png" height="150" style="padding-left:280px;">
            <h3 class="bgDark text-center">Clubes y Eventos Deportivos</h3>
            <p class="text-center fuente-light">
                Planificamos propuestas de trabajo adaptadas para<br/> 
                gimnasios y clubes deportivos: hockey, tenis,<br/>  
                basquet, fútbol y atletismo.
            </p>    
            <br/>

            <p class="text-center fuente-light">
                Realizamos planificaciones nutricionales para <br/>
                carreras de running y trail running, media maratón, <br/>
                maratón y ultra maratón.
            </p>    

            <br/>

            <button class="btn btn-primary" style="background-color:#415364; border-color:#415364; margin-left:310px;" routerLink="/contactanos">MÁS INFO</button>
                  
        </div>

    </div>

</div>