
<nav class="navbar navbar-expand-lg navPrincipal sticky-top fuente">
  <div class="container-fluid" data-bs-target="#navbarNav">
    <a class="navbar-brand" href="#">
      <h2 class="logo-titulo">Aldebarán</h2> <div class="logo-subtitulo">nutricionistas</div>
    </a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto d-sm-flex d-block flex-sm-nowrap">
        <li class="nav-item">
          <a class="nav-link seccionNav" aria-current="page" href="#quienesSomos">Quiénes somos</a>
        </li>
        <li class="nav-item" style="margin-left:30px;">
          <a class="nav-link seccionNav" href="#consultorio">Consultorio</a>
        </li>
        <li class="nav-item" style="margin-left:30px;">
          <a class="nav-link seccionNav" href="#trabajoInstitucional">Trabajo Institucional</a>
        </li>
        <li class="nav-item" style="margin-left:30px;">
          <a class="nav-link seccionNav" href="#cursos">Cursos de Nutrición</a>
        </li>
        <li class="nav-item" style="margin-left:30px;">
          <a class="nav-link seccionNav" href="#cursos">Contáctanos</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<div class="container-fluid fuente" style="background-color:#2d3a45; height: 600px; color:rgb(233, 233, 233);">

  <div class="row">

    <div class="col-6">
      <img src="../assets/img1.png" class="img-intro">
      <img src="../assets/img7.png" class="img-intro">
    </div>

    <div class="col-6" style="font-size: 25px; margin-top:8%; padding-right: 50px;">
      <p>Creemos en el impacto que generan los buenos hábitos alimentarios en la salud,
        en la calidad de vida y en el rendimiento deportivo.<br/>
        Por eso, abordamos la nutrición desde la individualización y la personalización
        para ayudar a cumplir objetivos y alcanzar metas.<br/><br/>
        Promovemos el cambio. Alimentarse distinto.<br/>
        <strong>Somos Aldebarán, la nutrición que persigue tu meta.</strong>
      </p>
    </div>

  </div>

  

</div>

<div class="container-fluid fuente" style="background-color:rgb(243,243,243);" data-bs-spy="scroll">

  <div style="height:100px;" id="quienesSomos"></div>

  <h1 class="tituloSeccion">Quiénes somos</h1>

  <div class="cont1">

    <img src="../assets/nutris.png" class="imgNutri">

  </div>

  <div>
    <div class="row">

      <b><h4 class="azul1 fuente" style="text-align:center;">Un poco sobre nosotras</h4></b>
      <div class="col-12 blackish" style="padding-left: 25%; padding-right: 25%; font-size:18px;">
        Somos una fusión de Mendocina y Misionera. Ambas apasionadas por la Nutrición.
        Taurinas y como fiel a ello, muy inquietas, curiosas y prácticas.<br>
        Actualmente nos capacitamos en Plant Based, alimentación vegana y vegetariana y
        nutrición deportiva.
        <br/><br/>
        Queremos posicionar y mostrar el rol de la nutricionista en los diferentes campos de trabajo desde la
        formación y la experiencia-práctica profesional.<br>
      </div>

    </div>
  </div>

  <div style="height:100px;" id="consultorio"></div>

</div>

<div class="container-fluid fuente" style="background-color:rgb(243,243,243)">

  <h1 class="tituloSeccion" >Consultorio</h1>

  <div class="parrafo1">

    <p>

      <b><h4 class="azul1">¿Cómo trabajamos en el consultorio?</h4></b>
      Trabajamos desde la individualización de cada caso, reconociendo las necesidades del
      consultante, brindándole herramientas y conocimientos para el logro de sus objetivos.

    </p>

    <br/>
    <h3><u class="azul1">Atención Online</u></h3>
    <a href="">Link a Instagram/Whatsapp</a>
    <br/><br/><br/>
    <h3><u class="azul1">Presencial</u></h3>
    <p class="p1txt"> 
      - Consultorio Privado de Nutrición (Ciudad, Mendoza)<br/>
      - Centro de Nutricion: Luis N Palma 327, Gualeguaychú E,R,
      Particular.
    </p>
    <br/><br/>
    
    <p class="p1txt">
    Prestadoras de OSDE.<br/>
    Factura de reintegro para otras obras sociales.<br/>
    Nuestras áreas de acompañamiento en consultorio:<br/>
    <br/><br/>
    </p>
    <h4><u class="azul1">Nutrición Infantil</u></h4>
    <p class="p1txt">
    - Acompañamiento a embarazadas durante la gestación y lactancia.<br/>
    - Guías para la alimentación complementaria desde los 6 meses hasta el año.<br/>
    - Alimentación del escolar y preescolar.<br/>
    Nutrición Vegana, vegetariana y Plant Based<br/>
    - Consultantes en transición que requieran del acompañamiento profesional para
    establecer la alimentación vegetariana/vegana.<br/>
    - Acompañamiento en todas las etapas de la vida: embarazos, lactancia,
    alimentación complementaria, niños, adolescentes, adultos y deportistas.<br/>
    - Personas con alimentación vegetariana/vegana que quieran mejorar su estado
    nutricional.
    <br/><br/>
  </p>
    <h4><u class="azul1">Nutrición Deportiva</u></h4>
  <p class="p1txt">
    - Realización de estudio antropométrico completo (método ISAK)<br/>
    - Asesoramiento sobre hábitos alimentarios específicos para cada tipo de deporte o
    situación particular.<br/>
    - Asesoramiento y planificación en eventos deportivos: carreras de ultra-trail,
    maratones, etc.<br/>
    - Pautas nutricionales personalizadas.
    <br/><br/>
  </p>
    <h4><u class="azul1">Nutrición Clínica</u></h4>
  <p class="p1txt">
    - Acompañamiento a personas sanas que buscan mejorar su alimentación.<br/>
  </p>

  <br/><br/>

  

  <br/><br/>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Consulta nutricional personalizada - Online/presencial <span style="margin-left:160px;"><strong>$2500</strong></span>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          - Formulario online pre-consulta<br/>
          - 1° Entrevista. Evaluación inicial.<br/>
          - Propuestas de objetivos de trabajo.<br/>
          - Elaboración de guía de Nutrición con: cálculo de
          requerimientos -Planificación nutricional- Mosaico de
          menú -Info complementaria- Intercambios -Recetas<br/>
          - Tiempo aprox: 40 min
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Seguimiento personalizado quincenal o mensual Online <span style="margin-left:150px;"><strong>$1500</strong></span>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          - Consulta de seguimiento - Feedback - inquietudes/dudas,
          progresos.<br/>
          - Tiempo aprox: 30 min<br/>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Evaluación Antropométrica Presencial <span style="margin-left:273px;"><strong>$2500</strong></span>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          - Método ISAK 2<br/>
          - Entrega de informe dentro de las 48-72 hs posteriores<br/>
          - Tiempo aprox:40 min<br/>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Talleres grupales <span style="margin-left:425px;"><strong>$1500/hora</strong></span>
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          - Encuentros virtuales con pacientes, deportistas, padres.<br/>
        </div>
      </div>
    </div>
  </div>

  <div style="height:100px;" id="trabajoInstitucional"></div>

  <div>
    <h1 class="tituloSeccion" >Trabajo Institucional</h1>
  </div>
    <br/>

  <div class="p1txt">
    <p>
      <strong class="azul1">¿Cómo trabajamos a nivel Institucional ?</strong><br/>
      Nos planteamos diferentes etapas de trabajo para conocer necesidades, intereses
      dándoles respuestas concretas a objetivos claros en plazos de tiempo determinados.
    </p>
    <br/>

    <!-- <div style="text-align:left;">
      Incluye:<br/>
      <ul>
        <li>Organizaciones Sociales</li>
        <li>Jardines/Colegios</li>
        <li>Instituciones Educativas</li>
        <li>Empresas</li>
        <li>Comedores</li>
      </ul>
    </div> -->
   
    
    <br/>

    <div class="row">

      <div class="col-6">
        <p>
          <strong class="azul1">Etapa 1</strong><br/>
          Diagnóstico de situación inicial - Procesamiento y análisis de datos.
          Entrega de reporte con resultados obtenidos.
        </p>
        <br/>
      </div>

      <div class="col-6">
        <p>
          <strong class="azul1">Etapa 2</strong><br/>
          Asesoramiento de las oportunidades de mejora, limitaciones existentes.
        </p>
        <br/>
      </div>

    </div>

    <div class="row">

      <div class="col-6">
        <p>
          <strong class="azul1">Etapa 3</strong><br/>
          Planificación nutricional mensual - Elaboración de Mosaico con menúes
          con frecuencia semanal, quincenal o mensual.
        </p>
        <br/>
      </div>
      <div class="col-6">
        <p>
          <strong class="azul1">Etapa 4</strong><br/>
          Relevamiento del estado nutricional.
        </p>
        <br/>
      </div>

    </div>

    <div class="row" style="margin-left:20%; margin-right:20%;">
      <p>
        <strong class="azul1">Etapa 5</strong><br/>
        Educación (a través de talleres, contenido, cartelería, etc.) a equipos de
        trabajo, docente, directivos, cocineras, empleados, referentes.
      </p>
    </div>

    
  </div>

</div>

<div class="container-fluid fuente" style="background-color:rgb(243,243,243);">

  <div style="height:100px;" id="cursos"></div>

  <div>
    <h1 class="tituloSeccion" >Cursos de Nutrición</h1>
  </div>
  <br/>

  <div style="margin-left:20%;">
  
    <div class="row">
  
      <div class="col-5" style="padding-right:50px;">
        <p>
          <strong>Curso Online 2022</strong><br/>
          Alimentación y nutrición vegetariana-vegana. Abordaje integral de la consulta nutricional.<br/><br/>
          A cargo de:<br/>
          Lic. Soledad Nahirñak y Lic. María José Gómez Milone<br/>
          Destinado a: estudiantes de 4to y 5to año de la carrera de Licenciatura en Nutrición |
          Nutricionistas o Licenciados en Nutrición<br/>
          Del 8 de abril al 28 de octubre de 2022 | CUPOS LIMITADOS<br/>
          Modalidad: ONLINE
          <br/><br/>
          <strong>Links de consulta e inscripciones</strong><br/>
          <a href="https://www.fb.uner.edu.ar/noticias/7781/alimentacion-y-nutricion-?fbclid=IwAR382TDvpIhdSCWeZjrDFPBDZ5rlf2RW3TXujVfZUj_75vO1tZJcz8V9_Us">
            <strong>Información sobre el curso</strong>
          </a><br/>
          <a href="https://pagos.fb.uner.edu.ar/formulario_inscripcion">
            <strong>Formulario de inscripción</strong>
          </a><br/><br/>
      
          
          
        </p>
      </div>
  
      <div class="col-7">
        <a href="https://www.fb.uner.edu.ar/noticias/7781/alimentacion-y-nutricion-?fbclid=IwAR382TDvpIhdSCWeZjrDFPBDZ5rlf2RW3TXujVfZUj_75vO1tZJcz8V9_Us">
          <img class="imgCurso" src="../assets/curso.png" style="max-height:400px;">
        </a>
      </div>
  
    </div>

  </div>

  <br/><br/>


</div>
</div>

<div class="d-flex flex-row bd-highlight mb-3 align-items-center justify-content-evenly footer fuente">
  <div class="p-2 bd-highlight"><h3 style="color:rgb(243,243,243);">Contáctanos</h3></div>
  <div class="p-2 bd-highlight">

    <div class="d-flex justify-content-center">
      <i class="bi bi-whatsapp" style="font-size:1rem; color:rgb(243,243,243); margin-right:5px;"></i>
      <p style="color:rgb(243,243,243);">Soledad: 344 665 6328</p>
    </div>

    <div class="d-flex justify-content-center">
      <i class="bi bi-whatsapp" style="font-size:1rem; color:rgb(243,243,243); margin-right:5px; margin-left:15px;"></i>
      <p style="color:rgb(243,243,243);">María José: 344 665 6328</p>
    </div>

  </div>
  <div class="p-2 bd-highlight">

    <div class="d-flex justify-content-center">
      <i class="bi bi-instagram icon-footer" style="margin-right: 10px;"></i>
      <p style="color:rgb(243,243,243); font-size:15px; padding-top:13px;">@anutricionistas</p>
    </div>

  </div>
</div>
  
  
  