@font-face {
    font-family: Monserrat;
    src: url(../assets/fonts/Montserrat-Regular.otf) format("opentype");
}

@font-face {
    font-family: Monserrat-Light;
    src: url(../assets/fonts/Montserrat-Light.otf) format("opentype");
}

@font-face {
    font-family: Monserrat-Bold;
    src: url(../assets/fonts/Montserrat-Bold.otf) format("opentype");
}

.fuente {
    font-family: Monserrat;
}

.fuente-light {
    font-family: Monserrat-Light;
}

.fuente-bold {
    font-family: Monserrat-Bold;
}

.blackish {
    color: rgb(43, 43, 43);
}

.cont1 {
    display: flex; 
    background-color:rgb(243,243,243); 
    height:500px;
    font-family: Monserrat;
}

.imgNutri {
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.tituloSeccion {
    text-align: center;
    color: #415364;
    font-family: Monserrat;
}

.parrafo1 {
    font-family: Monserrat;
    text-align: center;
    margin-left: 25%; 
    margin-right: 25%; 
    background-color:rgb(243,243,243);
}

.p1txt {
    font-size: 18px;
}

.azul1{
    color: #415364;
}

.imgCurso {
    border-radius: 4px;
}

.imgCurso:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

.footer {
    height:100px;
    background-color: #415364;
    margin-bottom: 0px !important;
}

.icon-footer {
    color: rgb(243,243,243);
    font-size: 2rem;
}

.img-intro{
    max-height: 400px;
    
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10px;
    border-radius: 10px;
}

.carousel-item{
    width: 100%; /*width you want*/
    /*height: 400px;*/ /*height you want*/
    overflow: hidden;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bgDark {
    color: #415364;
}