<div class="container-fluid fuente" style="background-color:rgb(243,243,243)">
    <div>
      <h1 class="tituloSeccion" >Trabajo Institucional</h1>
    </div>
    <br/>
  
    <div class="p1txt">
      <p>
        <strong class="azul1">¿Cómo trabajamos a nivel Institucional ?</strong><br/>
        Nos planteamos diferentes etapas de trabajo para conocer necesidades, intereses
        dándoles respuestas concretas a objetivos claros en plazos de tiempo determinados.
      </p>
      <br/>
  
      <!-- <div style="text-align:left;">
        Incluye:<br/>
        <ul>
          <li>Organizaciones Sociales</li>
          <li>Jardines/Colegios</li>
          <li>Instituciones Educativas</li>
          <li>Empresas</li>
          <li>Comedores</li>
        </ul>
      </div> -->
     
      
      <br/>
  
      <div class="row">
  
        <div class="col-6">
          <p>
            <strong class="azul1">Etapa 1</strong><br/>
            Diagnóstico de situación inicial - Procesamiento y análisis de datos.
            Entrega de reporte con resultados obtenidos.
          </p>
          <br/>
        </div>
  
        <div class="col-6">
          <p>
            <strong class="azul1">Etapa 2</strong><br/>
            Asesoramiento de las oportunidades de mejora, limitaciones existentes.
          </p>
          <br/>
        </div>
  
      </div>
  
      <div class="row">
  
        <div class="col-6">
          <p>
            <strong class="azul1">Etapa 3</strong><br/>
            Planificación nutricional mensual - Elaboración de Mosaico con menúes
            con frecuencia semanal, quincenal o mensual.
          </p>
          <br/>
        </div>
        <div class="col-6">
          <p>
            <strong class="azul1">Etapa 4</strong><br/>
            Relevamiento del estado nutricional.
          </p>
          <br/>
        </div>
  
      </div>
  
      <div class="row" style="margin-left:20%; margin-right:20%;">
        <p>
          <strong class="azul1">Etapa 5</strong><br/>
          Educación (a través de talleres, contenido, cartelería, etc.) a equipos de
          trabajo, docente, directivos, cocineras, empleados, referentes.
        </p>
      </div>
  
      
    </div>
</div>