<div class="container-fluid fuente" style="background-color:rgb(243,243,243);">
    <div>
      <h1 class="tituloSeccion" >Cursos de Nutrición</h1>
    </div>
    <br/>
  
    <div style="margin-left:20%;">
    
      <div class="row">
        <div class="col-5" style="padding-right:50px;">
          <strong class="bgDark">Curso Online 2022</strong><br/>
          <p class="fuente-light">
          Alimentación y nutrición vegetariana-vegana. Abordaje integral de la consulta nutricional.<br/><br/>
          <strong class="bgDark">A cargo de:</strong><br/>
          Lic. Soledad Nahirñak y Lic. María José Gómez Milone<br/><br/>
          Destinado a: estudiantes de 4to y 5to año de la carrera de Licenciatura en Nutrición |
          Nutricionistas o Licenciados en Nutrición<br/>
          Del 8 de abril al 28 de octubre de 2022 | CUPOS LIMITADOS<br/>
          Modalidad: ONLINE
          </p>
          <br/><br/>
          <strong class="bgDark">Links de consulta e inscripciones</strong><br/>
          <a href="https://www.fb.uner.edu.ar/noticias/7781/alimentacion-y-nutricion-?fbclid=IwAR382TDvpIhdSCWeZjrDFPBDZ5rlf2RW3TXujVfZUj_75vO1tZJcz8V9_Us">
            <strong>Información sobre el curso</strong>
          </a><br/>
          <a href="https://pagos.fb.uner.edu.ar/formulario_inscripcion">
            <strong>Formulario de inscripción</strong>
          </a><br/><br/>  
        </div>
    
        <div class="col-7">
          <a href="https://www.fb.uner.edu.ar/noticias/7781/alimentacion-y-nutricion-?fbclid=IwAR382TDvpIhdSCWeZjrDFPBDZ5rlf2RW3TXujVfZUj_75vO1tZJcz8V9_Us">
            <img class="imgCurso" src="../assets/curso.png" style="max-height:400px;">
          </a>
        </div>
      </div>
  
    </div>
  
    <br/><br/>
  
</div>